.pieContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    border: 5px solid red;
}

.dashboardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid aqua;
    width: 100%;
    margin: 0 0 0 100px;
    height: 100vh;
}

.listContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    height: 100%;
    width: 40%;
    padding: 0px;
}

.testCalendar {
    height:60%;
    width: 100%;
    border: 2px solid black;
}

.transactionHistoryList {

    height:40%;
    border:10px solid black;
    width: 100%;
}

.noDataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
