.pieContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.dashboardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 0 0 0 100px;
    height: 100vh;
}

.listContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    padding: 0px;
}

.testCalendar {
    height:60%;
    width: 100%;

}

.transactionHistoryList {
    
    border: 2px solid rgb(128, 128, 128);
    height: 40%;
    width: 100%;
    
}

.transactionContainer {
    height: 90%;
}

.transactionList {
    height: 100%;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 10%; 
}

.btnContainer a {
    border: 0;
    background-color: rgb(2, 136, 209);
    color:black;
    width:auto;
    padding:5px;
    margin:5px 15px 0px 0px;
    font-size:15px;
}
.btnContainer a:hover {
    background-color: rgb(4, 129, 197);
}

.noDataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
