.container{
    display:flex;

    border: 2px solid indigo;
    width: 100%;
    height: 100%;
}

.header1{
    display: flex;
    height: auto;
    border: 2px solid black;
    padding: 5px;
    justify-content: space-between;
}

.tableContainer{
    border: 2px solid green;
    width: 100%;
    border-collapse: collapse;
}


th,td{
    border: 1px solid green;
    padding:0.5rem;
    text-align: left;
}
.addBtn{
    border: 2px solid red;
    height: 25px;
    border-radius: 5px;
    width: auto;
}

.deleteContainer{
    border:2px solid red;
    margin: 5px;
}
.deleteIcon{
    color:rgba(227, 45, 45, 0.774);
    box-shadow: 1px;
    cursor: pointer;
}

.editIcon{
    color: rgb(61, 61, 230);
    box-shadow: 1px;
    cursor: pointer;
}

.hideIcon{
    opacity: 0%;
    cursor: not-allowed;
    pointer-events: none;
}

.expensesList{
    width:100%;
}
.calendarSection{
    width: 40%;
    height: 100%;
}