*{
    box-sizing: border-box;

}

.mainPage{
    box-shadow: 5px 5px 5px lightgrey;
    display:flex;
    flex-direction: column;
    background-color: rgb(2, 136, 209);
    padding: 5px;
    margin: 5px 5px 5px 0px;
    font-size:1.5vh;
}

.mainContainer{
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
  
    width: 100%;
    height:auto;
}

.verticalTabs {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    padding-left: 0px;
    width:100%;
    max-width: 400px;
    height: 100vh;
    background-color: white;
    margin-right: 1vh;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.228);

}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    background-color: white;
    height: 25%;
    overflow: hidden;
}

ul {
    list-style-type: none;
}



.navigationLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    text-decoration: none;
    color: black;
}

.navigationLink:active{
    background-color: aqua;
}

.navigationBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    padding: 5px;
    width: 100%;
    height: 100%;
    font-size: 1vh;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.527);
    color: black;
    cursor: pointer;
}


a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    height: 100%;
    width: 100%;
    color: black;
    font-size:2vh;
}


a:hover{
    background-color: rgba(211, 211, 211, 0.398);
    width: 100%;
    cursor: pointer;
    color: rgb(85, 103, 196);
}

.navigationLink:hover {
    background-color: rgba(211, 211, 211, 0.398);
    width: 100%;
    cursor: pointer;
}













