.parentContainer { 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 1vh; /* Adjust margin using vh */
    padding: 1vh; /* Adjust padding using vh */
}

.paginationContainer {
    display: flex; 
    justify-content: center; 
    border: 0.2vw solid grey; /* Adjust border using vw */
    border-radius: 1vw; /* Adjust border-radius using vw */
    list-style-type: none;
    padding: 0.5vh; /* Adjust padding using vh */
    margin: 0; 
}

/* Pagination Item */
.paginationItem {
    padding: 0 1.5vh; /* Adjust padding using vw */
    height: auto; /* Adjust height using vh */
    text-align: center;
    margin: 0 0.5vw; /* Space between items using vw */
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 1vw; /* Adjust border-radius using vw */
    line-height: 1.43;
    font-size: 1.5vh; /* Adjust font-size using vh */
    min-width: 4vw; /* Adjust min-width using vw */
}

.paginationItem.dots{
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
}
.paginationItem.dots:hover {
    background-color: transparent;
    cursor: default;
}

.paginationItem:hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.paginationItem.selected {
    background-color: rgba(0, 0, 0, 0.08);
}

.arrow.left{
    padding:1.5vh;
    font-size:2.5vh;
}

.arrow.right {
    padding:1.5vh;
    font-size:2.5vh;
}

.paginationItem.disabled {
    color:rgba(0, 0, 0, 0.43);
    pointer-events: none;
}

.paginationItem.disabled .arrow::before {
    color: rgba(0, 0, 0, 0.43); /* Adjust border using vh */
}

.paginationItem.disabled:hover {
    background-color: transparent;
    cursor: default;
}
