.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height:100%;
    overflow-y: scroll;
    margin-bottom: 0;
    border:2px solid rgba(221, 216, 216, 0.616)
}

.listExpenses{
    height:100%;
    width:100%;

}

.listContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll; 
    max-height: 200px; 
}

.list {
    list-style-type: none;
    padding-left: 0;

    width: 100%;
    margin-bottom: 0;
    margin-top: 0;

    height:100%;
}

.list li {
    padding:15px;
    margin: 5px;
    font-size: large;
    height: auto;
    border: 1px solid rgb(143, 144, 144);
    border-radius: 5px;
    text-align: center;
}


.emptyTransactionContainer {
    width: 100%;


}

@media screen and (min-height: 800px){
    .list li{
        font-size:.8vh;
    }
    header h2{
        font-size:.8vh;
    }
}

@media screen and (min-height:600px){
    .list li{
        font-size:1.5vh;
    }
    header h2{
        font-size:2vh;
    }
}